<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>New Ninja</title>
</head>
<body id="two">
    <wrapper class="add_user">
        <h1>Add a New Ninja</h1>
        <form action="/ninjas/create" method="POST">
            <div class="dropdown">
                <label>
                    Dojo:
                    <select name="dojos_id">
                    {% for dojo in dojos_read %}
                        <option value="{{dojo.id}}">{{ dojo.name }}</option>
                    {% endfor %}
                    </select>
                </label>
            </div>
            <div class="enter_ninja">
                <label>
                    First Name:
                    <input type="text" name="first_name">
                </label>
                <br>
                <label>
                    Last Name:
                    <input type="text" name="last_name">
                </label>
                <br>
                <label>
                    Age:
                    <input type="number" name="age">
                </label>
                <br>
                <input type="submit" value="Add a New User">
            </div>
        </form>
        <button onclick="window.location.href='/'">Home</button>
    </wrapper>

</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->